<!DOCTYPE html>
<html>
  <head>
<title>user details</title>
<link href="styles.css" rel="stylesheet" type="text/css">
<p>Users Details</p>
  </head>
  <body>
<table>
  <tr>
    <th>user_id</th>
    <th>user_name</th>
    <th>place</th>
  </tr>
  <tr>
   <td>1</td>
   <td>hattori</td>
   <td>chennai</td>
  </tr>
</table>
  </body>
</html>